<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- Bean Injected -->
	<bean id="address" class="br.com.springIntro.Address">
		<property name="street" value="Rua Joao Teixeira"/>
		<property name="number" value="99"/>
	</bean>

	<!-- Person Singleton -->
	<bean id="person" class="br.com.springIntro.Person" scope="singleton"
		init-method="onCreate" destroy-method="onDestroy">
		<constructor-arg name="name" type="String" value="Mike" />
		<property name="nickName" value="Mik"/>
		<property name="address" ref="address"/>
	</bean>

	<!-- Person Prototype -->
	<bean id="personFactoryCreated" class="br.com.springIntro.Person"
		scope="prototype" factory-method="getInstance" factory-bean="personfactory">
		<constructor-arg name="name" type="String" value="Mary" />
		<property name="nickName" value="Mar"/>
		<property name="address" ref="address"/>
	</bean>

	<!-- Factory Method -->
	<bean id="personfactory" class="br.com.springIntro.PersonFactory" />

	<!-- List Values -->
	<bean id="basket" class="br.com.springIntro.FruitBasket">
		<constructor-arg name="name" type="java.lang.String"
			value="John's Basket" />
		<constructor-arg name="fruits" type="java.util.List">
			<list>
				<value>Apple</value>
				<value>Orange</value>
				<value>Banana</value>
			</list>
		</constructor-arg>
	</bean>

	<!-- Beans List -->
	<bean id="snake" class="br.com.springIntro.Animal">
		<property name="name" value="Cassiopeia"/>
		<property name="kind" value="Snake"/>
	</bean>

	<bean id="cat" class="br.com.springIntro.Animal">
		<property name="name" value="Rengar"/>
		<property name="kind" value="Cat"/>
	</bean>

	<bean id="rat" class="br.com.springIntro.Animal">
		<property name="name" value="Twitch"/>
		<property name="kind" value="Rat"/>
	</bean>
	
	<bean id="jungle" class="br.com.springIntro.Jungle">
		<property name="animals">
			<list>
				<ref bean="snake" />
				<ref bean="cat" />
			</list>
		</property>
	</bean>

	<!-- Inner Beans -->
	<bean id="anotherjungle" class="br.com.springIntro.Jungle">
		<property name="animals">
			<list>
				<bean id="snake" class="br.com.springIntro.Animal">
					<property name="name" value="Cassiopeia"/>
					<property name="kind" value="Snake"/>
				</bean>

				<bean id="cat" class="br.com.springIntro.Animal">
					<property name="name" value="Rengar"/>
					<property name="kind" value="Cat"/>
				</bean>
			</list>
		</property>
	</bean>
	
	<!-- Maps -->
	<bean id="junglefoods" class="br.com.springIntro.Jungle">
		<property name="foods">
			<props>
				<prop key="snake">Eggs</prop>
				<prop key="cat">Rats</prop>
			</props>
		</property>
	</bean>
	
	<!-- Maps of Objects -->	
	<bean id="rivalsonjungle" class="br.com.springIntro.Jungle">
		<property name="rivalAnimal">
			<map>
				<entry key-ref="rat" value-ref="cat"/>
			</map>
		</property>
	</bean>
</beans>
